* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  place-items: center;
}
.container {
  position: relative;
}
.subscribe:hover {
  background-color: rgb(101, 87, 255);
  color: rgb(255, 255, 255);
  border: none;
}
.contact:hover {
  background-color: rgb(86, 86, 94);
  color: rgb(255, 255, 255);
  border: none;
}
.profile-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.profile {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;

}
